*.DS_Store
build/*
dist/*
output/*
log/*
bin/*
data/highResCoast*
edcsysout.log
edcstore.xml
NcPointer.xml
*.bak
*~
*.swp
history.txt
.classpath
.project
.settings/org.eclipse.jdt.core.prefs
javadoc/*